body {
    padding-top: 70px;
}

body.page-login,
body.page-auto-login {
    padding-top: 0;
}

.navbar .navbar-nav li a {
    cursor: pointer;
}

.auto-login-component .img-loading {
    display: block;
    margin: 160px auto 0;
}

.login-component,
.auto-login-component {
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-component:before {
    content: "";
    background: #f6f6f6;
    display: block;
    height: 50%;
    position: absolute;
    width: 100%;
}

.login-component .login-component-container {
    position: relative;
    top: 50%;
    margin-top: -182px;
}

.login-component .login-component-container .panel {
    box-shadow: 0 0 20px #aaa;
}

.admin-transactions-widget-component th {
    font-weight: normal;
}
.admin-transactions-widget-component td {
    text-align: right;
}

.admin-transactions-widget-component {
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}

.admin-transactions-widget-component .widget-block {
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
}

.admin-transactions-widget-component .widget-block .widget-value {
    color: #23527c;
}
.admin-transactions-widget-component .widget-block .widget-label {
    font-weight: bold;
}

.admin-transactions-details-component .details-table {
    margin-top: 20px;
}

.admin-transactions-filters-component {
    margin-top: 20px;
}

.admin-transactions-details-component .details-table {
    border: 1px solid #ccc;
}
.admin-transactions-details-component .table {
    margin-bottom: 0;
}
.admin-transactions-details-component .table thead {
    background: #eee;
}
.admin-transactions-details-component .table th {
    padding: 10px 5px;
}
.admin-transactions-details-component .glyphicon-arrow-left {
    color: red;
}
.admin-transactions-details-component .glyphicon-arrow-right {
    color: green;
}
